<mat-toolbar color="primary">
    <span routerLink="">Loan Management</span>
    <div class="links">
        <button routerLink="" mat-raised-button color="accent" class="btnCheck">Home</button>
        <button routerLink="add-loan-details" mat-raised-button color="accent" class="btnCheck">Add Loan Details</button>
        <button routerLink="all-loan-application" mat-raised-button color="accent" class="btnCheck">Loan
            Details</button>
        <button routerLink="show-creditrisk-details" mat-raised-button color="accent" class="btnCheck">Credit
            Details</button>
            <button routerLink="upadte-loan" mat-raised-button color="accent" class="btnCheck">Update Loan</button>
            <button routerLink="view-specific" mat-raised-button color="accent" class="btnCheck">View Specific</button>
            <button routerLink="pull-by-date" mat-raised-button color="accent" class="btnCheck">Pull By Date</button>
            <button routerLink="add-credit-details" mat-raised-button color="accent" class="btnCheck">Add Credit Details</button>
        </div>
    </mat-toolbar>
    
    <!-- <a routerLink="home" mat-raised-button color="accent" class="nav-link nav-button">Home</a> -->
    <!-- <a routerLink="all-loan-application" mat-raised-button color="accent" class="nav-link nav-button">Loan
        Details</a> -->
        <!-- <a routerLink="show-creditrisk-details" mat-raised-button color="accent" class="nav-link nav-button">Credit
            Details</a> -->
            <!-- <a routerLink="sanction-loan" mat-raised-button color="accent" class="nav-link nav-button">Sanction-Loan</a> -->
            <!-- <a routerLink="upadte-loan" mat-raised-button color="accent" class="nav-link nav-button">Update-Loan</a> -->
            <!-- <a routerLink="view-specific" mat-raised-button color="accent" class="nav-link nav-button">View-Specific</a>
                <a routerLink="pull-by-date" mat-raised-button color="accent" class="nav-link nav-button">Pull-By-Date</a>
                <a routerLink="add-credit-details" mat-raised-button color="accent"
                class="nav-link nav-button">Add-Credit-Details</a> -->
                <!-- <a routerLink="basic-check" mat-raised-button color="accent" class="nav-link nav-button">Basic Check</a> -->
                <!-- <button routerLink="sanction-loan" mat-raised-button color="accent" class="btnCheck">Sanction-Loan</button> -->