<header>
    <h1>Welcome to Bank Lending Portal</h1>
    <img src="../../../assets/homePage.jpg" alt="Bank Lending Image">
</header>

<section class="scrolling-text">

    <div class="scrolling-content">
        | We understand the importance of financial support when it comes to achieving your
        goals and dreams. Whether you are looking to start a new business, purchase a home, or invest in your education,
        our dedicated team is here to assist you every step of the way. We pride ourselves on offering a wide range of
        lending options tailored to suit your unique needs |
    </div>
</section>




